<form method="post" action="{{ path('all_delete', {'id': all.id,'part':part}) }}"
    onsubmit="return confirm('Cet élément sera suppimer, continuer??');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ all.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>